# Bot
BOT_TOKEN=your-bot-token
BOT_USERNAME=moviesUzb_bot
BOT_WEBHOOK_URL=https://your-app.vercel.app/api/webhook

# MongoDB
MONGODB_URI=mongodb+srv://your-mongodb-username:

# Redis
REDIS_URL=redis://default:password@your-redis-host:your-redis-port
# JWT
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=7d

# Admin

OWNER_ID=
OWNER_USERNAME=


# App
NODE_ENV=production
PORT=3000
API_RATE_LIMIT=5
API_RATE_WINDOW=1000

# Cache
CACHE_TTL=300
MOVIE_CACHE_TTL=600
TOP_CACHE_TTL=120
