# Bot
BOT_TOKEN=8893703196:AAHJr6F2vQ0HmO6D22S_7XW5Jq8K0keTUoI
BOT_USERNAME=moviesUzb_bot
BOT_WEBHOOK_URL=https://your-app.vercel.app/api/webhook

# MongoDB
MONGODB_URI=mongodb+srv://sanat:iecOUxQCq2KnBoso@cluster0.asv5xm3.mongodb.net/?appName=Cluster0

# Redis
REDIS_URL=redis://default:PASSWORD@microfresh-strong-care-10598.db.redis.io:10933
REDIS_PASSWORD=your_redis_password

# JWT
JWT_SECRET=36d798bc591aa4b159518fedc66b18af986b857eaee945680584ef58d68e46e3fb783b1b8d3f63f5b3d9eafe9921fd0b744eaeb301bc3f044e633725436090b6
JWT_EXPIRES_IN=7d

# Admin
OWNER_ID=8958711420,8345436037
OWNER_USERNAME=zed_as7,Khasanovv_71


# App
NODE_ENV=production
PORT=3000
API_RATE_LIMIT=5
API_RATE_WINDOW=1000

# Cache
CACHE_TTL=300
MOVIE_CACHE_TTL=600
TOP_CACHE_TTL=120
